server:
  port: 8090

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:9999/oauth2/jwks
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: product-service
              uri: http://localhost:8081
              predicates:
                  - Path=/api/service/**
            - id: forward-write-to-central
              uri: http://localhost:9999
              predicates:
                  - Path=/api/**
            - id: login
              uri: http://localhost:9999
              predicates:
                - Path=/login/**
---
spring.config.activate.on-profile: docker
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://:9999/oauth2/jwks
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: product-service
              uri: http://node-server:8081
              predicates:
                  - Path=/api/service/**
            - id: forward-write-to-central
              uri: http://backend:9999
              predicates:
                  - Path=/api/**
            - id: login
              uri: http://backend:9999
              predicates:
                - Path=/login/**
