server:
  port: 9999

spring:
  ai:
    vectorstore:
      qdrant:
        host: localhost
        port: 6334

        api-key: ""  # Nếu không bật xác thực thì để trống
        collection-name: my_vectors
        use-tls: false
        initialize-schema: true
  datasource:
    url: jdbc:postgresql://localhost:5432/message_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 325019990890-qe5jj732uqji378c1ssv54ghh09dtoab.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code
            client-name: Google

app:
  auth:
    host: localhost
    port: 9999

logging:
  level:
    org.springframework.security: DEBUG